.Logos-Wrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-bottom: 48px;
}

.Logos-Wrapper:first-child {
  margin-right: -24px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

